h1 {
  font-size: 100%;
}

#page_num {
  text-align: right;
}

#presen_board {
  font-size: 16pt;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.contents {
  position: absolute;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: move;
}

